# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
env/
venv/
.venv/

# IDE
.vscode/
.idea/

# Data files
data/models/*.pth
data/models/*.onnx
data/reference_dances/*.npy

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# videos
assets/videos/
fps_check/recorded.avi

# Data collection
data_collection/videos/
data_collection/cropped/
data_collection/visualize/
